%ul.dropdown-menu
  - item.children.each do |page|
    - if page.children.count == 0
      %li
        = link_to page.title, page
    - else
      %li.dropdown-submenu
        = link_to page.title, page
        = render partial: 'shared/dropdown', locals: { item: page }