.row
  .col-md-4
    = link_to root_path do
      = image_tag 'http://mackenzie.bc.libraries.coop/files/2014/08/Lego.jpg', height: 100
  .col-md-5
    Режим работы:
    пн-пт с 9 до 18
    Без обеда
  .col-md-3
    %h3
      %b 2-234-344
    = link_to 'Обратный звонок', new_call_request_path, class: 'btn btn-danger btn-lg btn-block'