#submenu.navbar.navbar-default.navbar-static-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{data: {target: '.navbar-menubuilder', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-menubuilder
      %ul.nav.navbar-nav.navbar-left
        - Page.submenu.last.children.each do |page|
          - if page.children.count == 0
            %li
              = link_to page.title, page
          - else
            %li.dropdown
              %a.dropdown-toggle{aria: {expanded: false, haspopup: true}, data: {toggle: 'dropdown'}, href: '#', role: 'button'}
                = page.title
                %span.caret
              = render partial: 'shared/dropdown', locals: { item: page }

      %form.navbar-form.navbar-right{role: 'search'}
        .form-group
          %input.form-control{placeholder: 'Поиск', type: 'text'}
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-search{aria: {hidden:true}}