#topmenu.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      = link_to 'Альфора', root_path, class: 'navbar-brand'
      %button.navbar-toggle{data: {target: '.navbar-menubuilder', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-menubuilder
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to 'Новости', news_index_path
        - Page.topmenu.last.children.each do |page|
          %li
            = link_to page.title, page