- if flash[:alert]
  .alert.alert-danger.alert-dismissible{ role: 'alert' }
    %button.close{ data: { dismiss: 'alert' }, type: 'button' }
      %span{ aria: { hidden: true } } ×
      %span.sr-only Закрыть
    = flash[:alert]

- if flash[:notice]
  .alert.alert-success.alert-dismissible{ role: 'alert' }
    %button.close{ data: { dismiss: 'alert' }, type: 'button' }
      %span{ aria: { hidden: true } } ×
      %span.sr-only Закрыть
    = flash[:notice]