#topmenu.navbar-default {
  margin-bottom: 4px;
  .navbar-brand {
    color: #dbdbdb;
  }
  font-size: 18px;
  background-color: darken(#428bca, 6.5%);//#337ab7;//darken(#428bca, 6.5%);//rgba(59, 127, 245, 1);
  border-width: 1px;
  border-radius: 4px;
  .navbar-nav > {
    li > a {
      color: #dbdbdb;
      background-color: darken(#428bca, 6.5%);//rgba(59, 127, 245, 1);
      &:hover, &:focus {
        color: #dbdbdb;
        background-color: rgba(61, 61, 61, 1);
      }
    }
    .active > a {
      color: #dbdbdb;
      background-color: rgba(49, 110, 224, 1);
      &:hover, &:focus {
        color: #dbdbdb;
        background-color: rgba(49, 110, 224, 1);
      }
    }
  }
  .navbar-toggle {
    border-color: #dbdbdb;//#316ee0;
    &:hover, &:focus, .icon-bar {
      background-color: #dbdbdb;//#316ee0;
    }
    &:hover .icon-bar, &:focus .icon-bar {
      background-color: #3b7ff5;
    }
  }
}